body {
	/*background:  url('images/back.png');
	*/
background-color: #dbdbdb; /*height:  3000px;
	*/
}

.jumbotron {
	background-image: url('images/footloose1.png');
	background-color: black;
	background-position: center -150px;
	background-repeat: no-repeat;

	-webkit-background-size: 75%;
	-moz-background-size: 75%;
	background-size: 75%;
	text-shadow: 0px 0px 20px #000000;
	margin-bottom: 40px;
	filter: glow(color=black, strength=5);
}

.hide {
	display: none;
}

.well {
	margin-bottom: 0px;
}

#postBox {
	margin-bottom: 10px;
	margin-left: 30px;
	height: auto;
}

#postBox textarea {
	width: 80%;
}

#postBox button {
	margin-top: 15px;
	margin-left: 5px;
}

.navbar img {
	height: 40px;
	width: auto;
	margin-right: 5px;
}

.user {
	/*float:  right !important;
	*/
	right: 0;
	position: fixed;
	margin-right: 100px;
}

.pull-right {
	float: right !important;
}

.content {
	margin-top: 0px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1px;
	background-color: white;
	margin-bottom: 20px;
}

.author {
	margin-left: 70px;
	margin-bottom: 5px;
	color: #4b6edb;
}

/*.Admin  {
	
color:  #fe1a06;
	
}

.God  {
	
color:  #fe1a06;
	
}

*/
.post {
	height: auto;
	min-height: 60px;
	padding: 5px; /*margin-top:  10px;
	*/
position: relative;
	margin-bottom: 2px;
}

.clear {
	clear: both;
}

.profileImage img {
	width: 100%;
	vertical-align: middle;

}

.profileImage {
	width: 60px !important;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	position: relative;
	float: left;
}

.post .postcontent {
	margin-left: 100px; /*margin-top:  20px;
	*/
margin-bottom: 10px;
	height: auto !important;
}

.time {
	font-size: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.commentTime {
	font-size: 10px;
}

.right {
	float: right;
}

.sidebar {
	border: 1px solid #999;
	border-radius: 10px;
	padding: 5px;
	padding-right: 1px;
	background-color: white; /*position:  fixed;
	*/
}

#lowerBar {
	margin-top: 10px;
}

.nav-header {
	font-size: 16px;
	margin-bottom: 2px;
}

hr {
	margin: 0px;
	color: black;
	border-top: 1px dotted black;
}

.delete {
	float: right;
}

.left {
	float: left;
	width: 90%;
	margin-bottom: 20px;
}

.highlight {
	background-color: #70cffe;
}

.icon1{
	display: inline-block;
	bottom: 1px;
	position: absolute;
	left: 55px;
}

.icon2 {
	display: inline-block;
	bottom: 1px;
	position: absolute;
	left: 150px;
}

.addComment {
	display: inline-block;
	font-size: 10px;
	bottom: -7px;
	position: absolute;
	left: 60px;
}

.applaude {
	display: inline-block;
	font-size: 10px;
	bottom: -7px;
	position: absolute;
	left: 152px;
}

.numberApplauded {
	display: inline-block;
	font-size: 10px;
	bottom: -2px;
	position: absolute;
	left: 220px;
	color: #08C;
}

.memberInfo {
	font-size: 20px;
}

.memberInfo button {
	margin: 0px 10px 0px 10px;
}

.commentBox {
	margin-left: 80px;
	margin-top: 10px;
	width: 60%;
	height: ;
}

.postComment {
	margin-top: 20px;
	margin-left: 10px;
}

.userComment {
	border-top: 1px dashed black;
	margin-left: 80px;
	padding: 5px; /*margin-bottom:  10px;
	*/
min-height: 40px;
}

/*.commentImage {
	height: 40px !important;
	width: auto;
}*/

.commentContent {
	margin-left: 75px;
	margin-top: 3px;
}

.commentAuthor {
	font-size: 13px;
	color: #4b6edb;
	margin-left: 70px;
}

.commentDelete {
	float: right;
	margin-right: -5px;
}

.centerText {
	text-align: center;
}

@media screen and (max-width: 1200px) {
	/*	.sidebar-nav-fixed {
	
	display:  none;
	
}

*/
.offset2 {
	margin-left: 0px !important;
}

.offset2 div {
	padding: 2px;
}

.offset2 div ul {
	padding: 2px !important;
}

.span6 {
	width: 80% !important;
	margin-left: 30px !important;
}
