<!DOCTYPE html>

<html>
	<head>

		<!--[if IE]>
		    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<![endif]-->
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" type='text/css'>
		<!-- <link href="static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> -->
		<!-- <link href="static/bootstrap/js/google-code-prettify/prettify.css" rel="stylesheet"> -->
		<link href="/static/normalize.css" rel="stylesheet" type="text/css">
		<link href="static/bootstrap/css/docs.css" rel='stylesheet'>
		<link href="static/style.css" rel="stylesheet">

		<title>Hermantown Drama</title>

	</head>



	<body>

		{% include 'navbar.html' %}

		<div class="jumbotron">
			<div class="container">
				<h1>Hermantown Drama</h1>
				{% if not user %}
					<div class="memberInfo"><P>Member of the HHS drama club?</p>
						<button class="btn btn-primary btn-large loginButton">Login</button> or 
						<button class="btn btn-large btn-primary registerButton">Register</button>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2 offset2">
					{% if user %}
						<div class='sidebar-nav-fixed well'>
							<div class='nav nav-list'>
								<button class='btn btn-primary btn-large uploadPhotos'>Upload Photos</button>
							</div>
						</div>
					{% endif %}

					<div class="sidebar-nav-fixed well {% if user %}lowerBar{% endif %}">
						<ul class="nav nav-list">
							<li class="nav-header">Important Dates:</li>
							<li>October 8th: First day of rehearsal!</li>
							<hr>
							<li>November 28, 29 at 7pm and December 1 at 2pm and 7pm: Performances</li>
						</ul>
						<hr>
						<ul class="nav nav-list">
							<li class="nav-header">Schedule</li>
							<a href='/static/calendar.pdf'>Download (PDF)</a>
						</ul>
						<hr>
						<ul class='nav nav-list'>
							<li class='nav-header'>Ticket Order Form</li>
							<a href='http://www.hermantown.k12.mn.us/staff_directory/Ken_Ahlberg/documents/FootlooseTicketOrderForm.pdf'>Download (PDF)</a>
						</ul>
					</div>

					<div class="sidebar-nav-fixed centerText well lowerBar">
						<ul class="nav nav-list">
							<li class="nav-header">Notice a problem with the site?</li>
							<li>Please email Marc at <a href="mailto:mjcuva@gmail.com">mjcuva@gmail.com</a> with a detailed description of the problem.</li>
						</ul>
					</div>
				</div>
				<div class="span6">
					{% if user %}
						<div id="postBox">
							<form method="post">
								<div class='control-group'> <textarea id="content" name = "content" rows = '3'></textarea> 
								<button id="addPost" class="btn btn-primary btn-large">Add Post</button></div>
								<div class="postError alert alert-error">You need to enter a post.</div>
							</form>
						</div>
					{% endif %}
					<div class="content">
						{% if user %}
						{% for post in posts %}
							{% include 'post.html' %}
						{% endfor %}
						{% else %}
							<div id='information'>
								<ul>
									<li>The top two teams from the northern and southern 7AA sub-section compete for a chance to perform at the State One Act Festival. Saturday, February 2, 2013 at Hermantown High School.</li>
									<li>The schedule is as follows:</li>
									<li>"Bad Auditions by Bad Actors" @ 12:00 p.m.</li>
									<li>"The Actor's Nightmare" @ 1:00 p.m.</li>
									<li>"betweenity" @ 2:00 p.m.</li>
									<li>"Booby Trap" @ 3:00 p.m.</li>
									<li>Awards @ 4:00 p.m.</li>
								</ul>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		


		<script src="static/javascript/jquery-1.7.2.js"></script>
	    <script src="static/bootstrap/js/bootstrap.js"></script>
	    <script src="https://raw.github.com/jaz303/jquery-grab-bag/master/javascripts/jquery.autogrow-textarea.js"></script>
	    <script src="static/javascript/home.js"></script>
	    <script src='https://raw.github.com/jquery/jquery-color/master/jquery.color.js'></script>

	</body>

</html>



