<!doctype html>
<html>

    <head>
        <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" type='text/css'>
        <link href='static/style.css' rel='stylesheet'>
        <link href="static/bootstrap/css/docs.css" rel='stylesheet'>
        <link href='static/editinfo.css' rel='stylesheet'>

        <title>Edit Info</title>

    </head>

    <body>

        {% include 'navbar.html' %}

        <div id='save'><button id='saveInfo' class='btn btn-large btn-success'>Save Changes</button></div>

        <div class=''>
            <h3 class='center editTitle'>Front Page</h4>
            <div class='container'>
                <textarea id='editHome' class='edit information'>{{frontPage}}</textarea>
                <div id='homePreview' class='well preview information'></div>
                <br style='clear:both;'>
            </div>
            <h3 class='center editTitle'>Sidebar</h3>
            <div class='container'>
                <textarea id='editSidebar' class='edit information'>{{sidebar}}</textarea>
                <div id='sidebarPreview' class='well preview information'></div>
                <br style='clear:both;'>
            </div>
        </div>



        <script src="static/javascript/jquery-1.7.2.js"></script>
        <script src="static/bootstrap/js/bootstrap.js"></script>
        <script src="static/javascript/home.js"></script>
        <script type="text/javascript" src='static/javascript/editinfo.js'></script>

    </body>

</html>