<!DOCTYPE html>

<html>
	<head>

		<link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" type='text/css'>
		<link href="static/bootstrap/css/bootstrap-responsive.css" >
		<link href="static/bootstrap/js/google-code-prettify/prettify.css" rel="stylesheet">
		<link href="static/bootstrap/css/docs.css" rel='stylesheet'>

		<script src="http://code.jquery.com/jquery-latest.js"></script>
	    <script src="static/bootstrap/js/bootstrap.js"></script>
	    <script src="static/validation/dist/jquery.validate.js"></script>
	    <!-- <script src="http://malsup.github.com/jquery.form.js"></script>  -->
	    <script src="static/javascript/signup.js"></script>


	</head>

	<style type="text/css">

		.centerLeft {
			margin-left: auto;
			margin-right: auto;
			display: block;
			float: none;
		}

		.centerMiddle {
			margin-top: 100px;
		}

		.centerText {
			text-align: center !important;
		}

		.formItem{
			font-size: 18px;
		}

	</style>


	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
						<ul class="nav">
							<li class="active">
								<a href='/'>Home</a>
							</li>
						</ul>
				</div>
			</div>
		</div>


		<div class="well span6 centerLeft centerMiddle">
			<form class="form-horizontal" id="signupform" method="post" enctype="multipart/form-data">
				<fieldset>
					<legend class='centerText'>Register</legend>

					<div class="control-group">
						<label class="control-label centerText formItem">First Name</label>
						<div class='controls'>
							<input type='text' class="input-xlarge required" id="user_first" name="user_first">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label centerText formItem">Last Name</label>
						<div class='controls'>
							<input type='text' class="input-xlarge required" id="user_last" name="user_last">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label centerText formItem">Email</label>
						<div class='controls'>
							<input type='text' class="input-xlarge required" id="user_email" name="user_email">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label centerText formItem">Password</label>
						<div class='controls'>
							<input type='password' class="input-xlarge required" id="user_pass" name="user_pass">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label centerText formItem">Verify Password</label>
						<div class='controls'>
							<input type='password' class="input-xlarge required" id="user_verPass" name="user_verPass">
						</div>
					</div>

					<div class="control-group">
						<div class='controls'>
							<button type='submit' class="btn btn-primary">Submit</button>
						</div>
					</div>


				</fieldset>
				

			</form>

		</div>





	</body>

</html>



